@charset "utf-8";


.global-nav {
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    z-index: 500;
    width: 100%;
    top: 0;
    display: none;
    height: 5vw;
    align-items: center;
}

.global-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.85vw;
}

.global-nav ul li {
    padding: 0 2vw;
}

.global-nav ul li a {
    color: #323232;
    font-size: 1.1vw;
    transition: 0.5s;
    font-weight: 700;
}

.global-nav ul li a:hover {
    color: #d3a06b;
    transition: 0.5s;
}

.nav-border {
    border-left: solid #323232 0.1vw;
}

.global-nav ul li a img {
    width: 3vw;
    height: auto;
}


.recruitment {
    height: 50vw;
    background-image: url(../images/recruitment-information/recruitment-informationtop.png);
    background-size: cover;
    background-repeat: none;
    background-position: bottom;
    position: relative;
    z-index: 20;
    animation: fadeIn 3s ease 0s 1 normal;
    -webkit-animation: fadeIn 3s ease 0s 1 normal;

}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    /* 始め */
    100% {
        opacity: 1
    }

    /* 終わり */
}

.recruitment-top {
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding-top: 20vw;
    z-index: 100;
}

.recruitment-top h2 {
    font-size: 2.5vw;
    color: white;
}

.recruitment-top p {
    font-size: 1.1vw;
    color: white;
}

.black {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 100%;
}

.recruit1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15vw;

}

.recruit1 img {
    width: 25vw;
    height: auto;
}

.text-box1 {
    width: 25%;
}

.text-box1 h2 {
    font-size: 2vw;
    color: #323232;
    font-weight: 600;
}

.text-box1 p {
    font-size: 1.1vw;
    color: #323232;
}

.recruit2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15vw;

}

.recruit2 img {
    width: 25vw;
    height: auto;
}

.text-box2 {
    width: 25%;
}

.text-box2 h2 {
    font-size: 2vw;
    color: #323232;
    font-weight: 600;
}

.text-box2 p {
    font-size: 1.1vw;
    color: #323232;
}

.botton {
    margin-top: 10vw;
}

.botton a {
    border: solid #323232 1px;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 20vw;
    padding: 1.5vw 2vw;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}

.botton a:after {
    content: "";
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 2rem;
    font-size: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.3s;
    width: 6px;
    height: 6px;
    border-top: solid 2px currentColor;
    border-right: solid 2px currentColor;
    transform: translateY(-50%) rotate(45deg);
}

.botton a:hover {
    background: #323232;
    color: #FFF;
}

.botton a:hover:after {
    right: 1.4rem;
}


.copy img {
    width: 60%;
    height: auto;
}

.footer-icon a img {
    width: 10vw;
    height: auto;
}

.sns a img {
    width: 2vw;
    height: auto;
    margin-right: 2vw;
}

.footer-top {
    margin-top: 15vw;
}

.copy {
    display: flex;
    align-items: flex-end;
}

.link {
    margin-left: 13vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icon {
    margin-bottom: 3vw;
    padding-right: 3vw;
}

.sns {
    margin-bottom: 3vw;
}

.fade-right {
    opacity: 0;
    transform: translate(-5%, 0);
    transition: 1s;
}

.fade-left {
    opacity: 0;
    transform: translate(5%, 0);
    transition: 1s 0.5s;
}

.fade-in {
    transform: translate(0, 0);
    opacity: 1;
}

.fade {
    opacity: 0;
    transition: 1s;
}

.fade-in2 {
    opacity: 1;
}